{% load staticfiles %}

<!-- Contact -->
<section id="section6">
    <div class="container">
        <!--<h2>Get In Touch With Me</h2>-->
        <div class="row">
            <div class="col-sm-5">
                <h5>Contact Address</h5>
                <ul class="list-icons list-unstyled">
                    <li><i class="ion-ios-location-outline"></i>Markham, Scarborough, Toronto</li>
                    <li><i class="ion-iphone"></i>Phone: +1 647-868-2341</li>
                    <li><i class="ion-ios-email-outline"></i>Email: <a href="mailto:mail@jana19.com">jana.stc@gmail.com</a> </li>
                </ul>

                <div class="spacer"></div>

                <div class="social-icons">
                    <a target="_blank" href="https://www.facebook.com/Jana.JR.19" class="social-icon"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="https://twitter.com/janastc19" class="social-icon"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="https://plus.google.com/+JanaRajkumar" class="social-icon"><i class="fa fa-google-plus"></i></a>
                    <a target="_blank" href="http://ca.linkedin.com/in/jana19?trk=shareTw" class="social-icon"><i class="fa fa-linkedin"></i></a>
                    <a target="_blank" href="https://github.com/jana-uoft" class="social-icon"><i class="fa fa-github"></i></a>
                    <a target="_blank" href="https://www.instagram.com/jana_._._._" class="social-icon"><i class="fa fa-instagram"></i></a>
                </div> <!-- end .social-icons -->

                <div class="spacer"></div>
            </div>

            <div class="col-sm-7">
                <h5>Contact Form</h5>
                <div style="margin:0 0;" id="zbwid-cf896c5b"></div>
                <script type="text/javascript">
                    (function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/c/e/ce2c4fdb03a33b4da7b7facf9632e061/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
                </script>
            </div>
        </div> <!-- end row -->
    </div> <!-- end .container -->
    <br/><br/><br/>
</section> <!-- end #section6 -->

