{% load staticfiles %}

<!-- Home -->
<section id="section1" class="active">
    <div class="container">
        <h2>About Me</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="https://dl.dropboxusercontent.com/u/11206072/jana19/static/portfolio/images/man02.png" alt="man" class="img-responsive section-img">
            </div>
            <!-- end .col-sm-3 -->
            <div class="col-sm-9">
                <h3 class="small-margin-bottom">Jana Rajkumar</h3>
                <h5>Tech Enthusiast</h5>
                <p style="text-align: justify;">{{GENERAL.Intro}}</p>
                <ul class="list-unstyled text-uppercase">
                    <li><b>Email:</b> {{GENERAL.Email}}</li>
                    <li><b>Address:</b> {{GENERAL.Address}}</li>
                    <a target="_blank" href="https://dl.dropboxusercontent.com/u/11206072/jana19/static/portfolio/JanaRajkumar-Resume.pdf" class="button solid-button purple">Download CV</a>
                </ul>
            </div> <!-- end .col-sm-9 -->
        </div> <!-- end .row -->
    </div> <!-- end .container -->
</section> <!-- end #section1 -->