{% load staticfiles %}

<!-- Home -->
<section id="section1" class="active">
    <div class="container">
        <h2>About Me</h2>
        <div class="row">
            <div class="col-sm-3">
                <img src="{% static 'portfolio/images/man02.png' %}" alt="man" class="img-responsive section-img">
            </div>
            <!-- end .col-sm-3 -->
            <div class="col-sm-9">
                <h3 class="small-margin-bottom">Jana Rajkumar</h3>
                <h5>Tech Enthusiast</h5>
                <p style="text-align: justify;">Undergraduate in Computer Science from University of Toronto (June 2016). Speaking about me, I love to get my hands dirty with the latest tech gadgets and keep myself up to date with all the new mechanisms behind them. I am mainly interested in Web Development and Artificial Intelligence. I Love meeting new people and discussing new ideas. I try to work smart and enjoy my free time going on long road trips. In the near future, I would like to start up my own business/product and of course own a TESLA :)</p>
                <ul class="list-unstyled text-uppercase">
                    <li><b>Email:</b> jana.stc@gmail.com</li>
                    <li><b>Address:</b> Markham, Scarborough, Toronto</li>
                    <a target="_blank" href="https://dl.dropboxusercontent.com/u/11206072/jana19/static/portfolio/JanaRajkumar-Resume.pdf" class="button solid-button purple">Download CV</a>
                </ul>
            </div> <!-- end .col-sm-9 -->
        </div> <!-- end .row -->
    </div> <!-- end .container -->
</section> <!-- end #section1 -->