{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block headernavigation %}
    <ul class="list-unstyled">
        <li><a onClick=location.href='/#section1';>Home</a> </li>
        <li><a onClick=location.href='/#section2';>Skill</a> </li>
        <li><a onClick=location.href='/#section3';>Experience</a></li>
        <li><a onClick=location.href='/#section4';>Education</a> </li>
        <li class="active"><a onClick=location.href='/#section5';>Projects</a> </li>
        <li><a onClick=location.href='/#section6';>Contact</a> </li>
    </ul>
 {% endblock %}

{% block available %}
    <a onClick=location.href='/#section6'; class="available"><i class="ion-ios-email-outline"></i><span>Available For Freelance</span></a>
 {% endblock %}


{% block singleworkcontent %}
<!-- Single Portfolio -->
<section class="active">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p class="button-row portfolio-button-row text-center">
                    {% if PREV %}
                        <a href="{% url 'portfolio:project' PREV.1.id %}" class="button solid-button purple">Previous</a>
                    {% else %}
                        <a href="#" class="button solid-button white">Previous</a>
                    {% endif %}
                    {% if NEXT %}
                        <a href="{% url 'portfolio:project' NEXT.1.id %}" class="button solid-button purple">Next</a>
                    {% else %}
                        <a href="#" class="button solid-button white">Next</a>
                    {% endif %}
                </p>

                <div class="portfolio-details">
                    <h2>{{ PROJECT.1.name }}</h2>
                    <p style="text-align: justify;">{{ PROJECT.1.description }} </p>
                    <div class="portfolio-meta">  <span>Date:</span> {{ PROJECT.1.duration }}  </div>
                    <div class="portfolio-meta">  <span>Skills:</span>  {{ PROJECT.1.skills }}  </div>
                    {% if PROJECT.1.website %}
                        <p><a target="_blank" href="{{ PROJECT.1.website }}" class="button solid-button purple">Visit Website</a></p>
                    {% else %}
                        <p></p>
                    {% endif %}
                </div> <!-- end .portfolio-details -->
            </div> <!-- end .col-sm-4 -->

            <div class="col-sm-8">
                <br/><br/><br/>
                <div class="portfolio-slider owl-carousel">
                    {% for pic in PROJECT.1.pics %}
                        <div><img src="{{ pic }}" alt="{{ PROJECT.1.name }}" class="img-responsive"></div>
                    {% endfor %}
                </div> <!-- end .portfolio-slider -->
            </div> <!-- end .col-sm-8 -->


        </div> <!-- end .row -->


    </div> <!-- end .container -->
</section> <!-- end #section -->

{% endblock %}
