{% load staticfiles %}

<!-- Skills -->
<section id="section2">
    <div class="container">
        <h2>My Skills Value</h2>
        <div class="row">
            <div class="col-sm-6">
                <h4 class="text-center">Core Programming Skills</h4>
                <div class="row">
                {% for item in CORE_PROGRAMMING_SKILLS %}
                    <div class="col-sm-6">
                        <label class="progress-bar-label">{{ item.name }}</label>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ item.value }}" aria-valuemin="0" aria-valuemax="100">
                                <span>{{ item.value }}%</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="col-sm-6">
                <h4 class="text-center">Web Framework Skills</h4>
                <div class="row">
                    {% for item in WEB_FRAMEWORK_SKILLS %}
                        <div class="col-sm-6">
                            <label class="progress-bar-label">{{ item.name }}</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ item.value }}" aria-valuemin="0" aria-valuemax="100">
                                    <span>{{ item.value }}%</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-6">
                <h4 class="text-center">Technical Knowledge</h4>
                <div class="row">
                {% for item in TECHNICAL_KNOWLEDGE %}
                    <div class="col-sm-6">
                        <ul class="list-icons purple bold-list">
                             <li><i class="md-arrow-forward"></i>{{ item }}</li>
                        </ul>
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="col-sm-6">
                <h4 class="text-center">Educational Knowledge</h4>
                <div class="row">
                {% for item in EDUCATIONAL_KNOWLEDGE %}
                    <div class="col-sm-6">
                        <ul class="list-icons purple bold-list">
                            <li><i class="md-arrow-forward"></i>{{ item }}</li>
                        </ul>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="spacer"></div>
        <h4>Language Skills</h4>
        <div class="row">
            {% for item in LANGUAGE_SKILLS %}
                <div class="col-sm-4">
                    <div class="circle-progress-wrapper clearfix">
                        <div class="circle-progress">
                            <input type="text" class="dial" value="{{ item.value }}" data-color="#7c4dff" data-from="0" data-to="{{ item.value }}" />
                        </div>
                        <div class="circle-progress-label-wrapper">
                            <label class="circle-progress-label">{{ item.name }}</label>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section> <!-- end #section2 -->