
<!-- Social -->
<section id="section7">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5 style="text-align: center;">Instagram
                    <a target="_blank" href="https://www.instagram.com/jana_._._._" class="social-icon"><i class="fa fa-instagram"></i></a>
                </h5>
                <section id="photos_insta"></section>
            </div>
            <div class="col-sm-6">
                <h5 style="text-align: center;">Twitter
                    <a target="_blank" href="https://twitter.com/janastc19" class="social-icon"><i class="fa fa-twitter"></i></a>
                </h5>
                <a class="twitter-timeline" data-height="560" data-theme="light" href="https://twitter.com/janastc19">Tweets by janastc19</a> 
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>            
            </div>
        </div> <!-- end .row -->
    </div> <!-- end .container -->
</section> <!-- end #section7 -->
